S3method("[",rv)
S3method(Math,rv)
S3method(Ops,rv)
S3method(plot,rv)
S3method(print,rv)
export(E)
export(P)
export(SD)
export(SKEW)
export(VAR)
export(Z)
export(is.rv)
export(rif)
export(rsim)
export(rv)
