S3method("!=",rv)
S3method("&",rv)
S3method("*",rv)
S3method("+",rv)
S3method("-",rv)
S3method("/",rv)
S3method("<",rv)
S3method("<=",rv)
S3method("==",rv)
S3method(">",rv)
S3method(">=",rv)
S3method("[",rv)
S3method("^",rv)
S3method("|",rv)
S3method(abs,rv)
S3method(exp,rv)
S3method(log,rv)
S3method(plot,rv)
S3method(print,rv)
S3method(sqrt,rv)
export(E)
export(P)
export(SD)
export(SKEW)
export(VAR)
export(Z)
export(is.rv)
export(rif)
export(rsim)
export(rv)
